@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&family=Parisienne&display=swap');

// ====================== reset S ======================
*{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}

iframe, img{
  vertical-align: middle;
  border: none;
  width: 100%;
}

html, body, header, section, footer, ul, li, a, h1, h2, h3, h4, h5, h6, p, button, address, strong, em, dl, dt, dd, div, span, input{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.6em;
  font-style: normal;
  color: inherit;
  box-sizing: border-box;
}

section{
  position: relative;
}

a{
  text-decoration: none;
}
// ====================== reset E ======================

// ====================== varibles S ======================
$cl-white : #fff;
$cl-black : #000;

@mixin absoluteCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
// ====================== varibles E ======================

// ====================== set S ======================
article{
  padding: 60px;

  .h1{
    font-size: 40px;
    font-weight: 700;
    margin: 0 0 30px 0;
  }

  strong{
    font-weight: 500;
  }

  a{
    color: #d16098;
  }

  pre{
    white-space: pre-wrap;
  }

  p{
    margin: 1em 0;
  }
  
  img{
    margin: 30px auto;
  }
  
  .desc-img{
    color: gray;
    font-size: 85%;
    margin-top: -20px;
    text-align: center;
  }

  .info{
    
  }
}
// ====================== set E ======================

// ====================== index S ======================
#boot{
  @include absoluteCenter;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $cl-black;
  z-index: 9;

  .bootImg {
    @include absoluteCenter;
    margin-top: -60px;
    margin-left: 20px;
    width: 386px;
  }

  .progressBar {
    @include absoluteCenter;
    width: 226px;
    height: 28px;
    border: 2px solid $cl-white;
    border-radius: 8px;
    margin-top: 150px;
    overflow: hidden;

    .progress {
      position: absolute;
      display: flex;
      flex-flow: row nowrap;
      margin-left: -60px;

      div {
        width: 18px;
        height: 20px;
        margin-top: 2px;
        margin-left: 2px;
        border-radius: 2px;
        background: linear-gradient( to bottom, #393d6f, #51589a, #7d92ea, #7d92ea, #7d92ea, #7d92ea, #7d92ea, #243aa7, #243aa7, #23338c);
      }
    }
  }

  .copy {
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    color: $cl-white;
  }
}

#newStart {
  height: 100vh;
  background: url(../img/new_start.jpg) no-repeat center;
  background-size: 100% 100%;

  p{
    @include absoluteCenter;
    color: $cl-white;
    font-family: '굴림', sans-serif;
    font-style: italic;
    font-size: 32px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  }
}
// ====================== index E ======================

// ====================== wallPaper S ======================
#wallPaper{
  background-image: url(../img/main.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
  overflow: hidden;

  .icons{
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    height: 90vh;

    li>a{
      display: block;
      width: 80px;
      height: 80px;
      margin: 30px 0 0 20px;
      text-align: center;

      .ico{
        display: inline-block;
        width: 54px;
        height: 54px;
        background-color: #ccc;
        vertical-align: top;
      }

      .icoTit{
        color: $cl-white;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
      }
    }
  }
}
// ====================== wallPaper E ======================

// ====================== window S ======================
#window{
  display: block;
  @include absoluteCenter;
  width: 100%;
  height: calc(100% - 35px);
  margin-top: -17.5px;
  border: 3px solid #2561de;
  border-top: none;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
  background-color: $cl-white;

  .title{
    height: 35px;
    background: linear-gradient( to bottom, #2561de, #4993e6, #2561de, #2561de, #2561de, #2561de, #2561de, #2561de, #2561de, #143ca0);
  }
  .menu{
    background-color: #f2f4f1;

    .controls{
      height: 50px;
      border-bottom: 1px solid #e3dfd0;
    }
    .addressBar{
      height: 25px;
      background-color: #f2f4f1;
  
      input{
        width: 80%;
        height: 25px;
        border: 1px solid #a5b8c8;
        line-height: 1em;
      }
    }
  }

  #content{
    width: 100%;
    height: calc(100% - 135px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 20px;

      &-track{
        background-color: #f8f7f3;
      }
      &-thumb{
        background-color: #c6d5fd;
        border-radius: 4px;
        border-top: 2px solid #e0e7ef;
        border-bottom: 2px solid #e0e7ef;
        background: url(../img/thumb.png) center;
        background-size: 20px auto;
      }
      &-button{
        &:start:decrement{
          display: block;
          height: 20px;
          background-color: #c6d5fd;
          background: url(../img/up_btn.png) center;
          background-size: 20px 20px;
        }
        &:end:increment{
          display: block;
          height: 20px;
          background-color: #c6d5fd;
          background: url(../img/down_btn.png) center;
          background-size: 20px 20px;
        }
      }
    }
  }

  .bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #ebe8d6;
  }
}
// ====================== window E ======================

// ====================== taskBar S ======================
#taskBar{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 35px;
  background: linear-gradient( to bottom, #2561de, #4993e6, #2561de, #2561de, #2561de, #2561de, #2561de, #2561de, #2561de, #143ca0);

  .taskBarInner{
    flex: 1;
    position: relative;
    border-right: 1px solid #666;

    .start{
      width: 120px;
      line-height: 33px;
      text-align: center;
      border-radius: 0 18px 18px 0;
      box-shadow: 3px 0px 5px rgba(0,0,0,0.3);
      font-size: 20px;
      color: $cl-white;
      background: linear-gradient( to bottom, #47ab47, #83bd87, #47ab47, #47ab47, #47ab47, #47ab47, #47ab47, #47ab47, #47ab47, #47ab47);
    }

    .taskList{
      position: absolute;
      left: 120px;
      top: 0;

      li{

      }
    }
  }

  .toolBox{
    position: relative;
    padding: 0 20px;
    background: linear-gradient( to bottom, #0d8dea, #16adf0, #0d8dea, #0d8dea, #0d8dea, #0d8dea, #0d8dea, #0d8dea, #0d8dea, #2561de);
    border-left: 1px solid #26cdf9;

    .lang{
      position: absolute;
      left: -32.5px;
      top: 5px;
      display: block;
      width: 25px;
      height: 25px;
      line-height: 22.5px;
      text-align: center;
      color: $cl-white;
      border: 1px solid $cl-white;
      border-radius: 2px;
    }

    p{
      text-align: center;
      line-height: 35px;
      color: $cl-white;
    }
  }
}
// ====================== taskBar E ======================