@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: #666;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

#bookmarkDetails {
  max-width: 1536px;
  margin: 0 auto;
}

#categoryTabs {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
#categoryTabs button {
  cursor: pointer;
  padding: 12px 16px;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #222;
  color: #fff;
}
#categoryTabs button:hover {
  background-color: #fff;
  color: #222;
}

#bookmarkInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#bookmarkInfo a {
  flex: 1;
  min-width: 200px;
  padding: 16px;
  border-radius: 4px;
  text-decoration: none;
  background-color: #eee;
  color: #333;
}
#bookmarkInfo a.ui .title {
  color: #007bff;
}
#bookmarkInfo a.portpoilio .title {
  color: #673ab7;
}
#bookmarkInfo a.three .title {
  color: #ff6600;
}
#bookmarkInfo a .title {
  font-size: 18px;
  font-weight: 700;
}
#bookmarkInfo a .description {
  margin-top: 4px;
}
#bookmarkInfo a .date_added {
  margin-top: 4px;
  font-size: 12px;
  text-align: right;
}
